- var devMode = self.htmlWebpackPlugin.options.data.DEV_MODE
- var title = "title";
- var description = "description"
- var image = "img/fb.jpg"
doctype html
html
  head
    meta(charset='UTF-8')
    title=title
    link(rel="image_src" type="image/jpeg" href=image)
    link(rel="shortcut icon" type="image/ico" href="favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
    meta(name="description" content=description)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content=image)
  body
    #app
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
    script(src='//cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js' defer)