- var devMode = self.htmlWebpackPlugin.options.data.DEV_MODE
- var title = "原來 vue 可以這樣玩 jsx 與 Storybook";
- var description = "2018 vue 分享會"
- var image = "asset/img/snapshot.png"
doctype html
html
  head
    meta(charset='UTF-8')
    title=title
    link(rel="image_src" type="image/jpeg" href=image)
    link(rel="shortcut icon" type="image/ico" href="favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
    meta(name="description" content=description)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content=image)
  body
    #app
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli:400,300")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" href="https://milkmidi.github.io/core-ui-material-design/css/core-ui-custom.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/solarized-dark.min.css")
    script(src='//cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js' defer)
    script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js' defer)